body {
    font-family: 'Poppins', sans-serif;
  }
body {
  font-family: 'Arial', sans-serif;
}
section {
  padding: 50px 0;
}
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #343a40;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.lead {
  font-size: 70%;
}